* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.board {
  display: grid;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}

@keyframes symbol-appear {
  from {
    transform: scale(1.9);
  }
  to {
    transform: scale(1);
  }
}

svg {
  animation-name: symbol-appear;
  animation-duration: .15s;
}
